<footer class="footer">
    <div class="footer-containerr">
      <div class="box">
        <div class="logoz">
          <img src="/img/fraxinus_logo.png" alt="logo" />
          <h1>Fraxinus</h1>
        </div>
        <div class="text">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium id nulla at odit unde illo nemo, explicabo ipsa quis!
            Officia facilis praesentium, explicabo incidunt saepe culpa
            doloribus vel ut repellendus iure soluta dolores optio earum ipsa,
            modi eos, placeat accusantium facere. Numquam voluptate officia
            minus tempore praesentium rem consequuntur dolore.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Praesentium id nulla at odit unde illo nemo, explicabo ipsa quis!
            Officia facilis praesentium, explicabo incidunt saepe culpa
            doloribus vel ut repellendus iure soluta dolores optio earum ipsa,
            modi eos, placeat accusantium facere. Numquam voluptate officia
            minus tempore praesentium rem consequuntur dolore.
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>