<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <img src="/img/fraxinus_logo.png" alt="logo" />
      <a href="/home">Fraxinus</a>
    </div>
    <div class="search">
      <div class="wrapper">
        <form action="/search/s">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search here..."
            autocomplete="off"
          />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass fa-3xs"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="links">
      <a href="/home"><i class="fa-solid fa-house fa-2xl"></i></a>
      <a href="/wishlist"><i class="fa-solid fa-heart fa-2xl"></i></a>
      <a href="/user"><i class="fa-solid fa-user fa-2xl"></i></a>
    </div>
  </div>
</nav>
