<%- include('partials/header')%> <%- include('partials/navbar')%>

<div class="main">
  <div class="main-containerr">
    <p href="#" class="result">
      <i class="fa-solid fa-magnifying-glass"></i>Result for:
      <span>Outdoors</span>
    </p>
    <section class="items">
      <div class="container1">
        <div class="grid">
          <a class="item" href="/item">
            <div class="item-img"></div>
            <div class="item-desc">
              <h3>Rp. 200.000</h3>
              <hr />
              <h4>Outdoors</h4>
              <p>Raihan</p>
            </div>
          </a>
          <a class="item" href="/item">
            <div class="item-img"></div>
            <div class="item-desc">
              <h3>Rp. 200.000</h3>
              <hr />
              <h4>Outdoors</h4>
              <p>Raihan</p>
            </div>
          </a>
        </div>
      </div>
      <!-- <a href="/signup">Sign Up</a>
      <a href="/signin">Sign In</a> -->
    </section>
  </div>
</div>

<%- include('partials/footer')%>
