<%- include('partials/header')%> <%- include('partials/navbar')%>

<div class="itemz-desc">
  <div class="itemz-desc-containerr">
    <div class="box1"></div>
    <div class="box2">
      <h1>Item Name</h1>
      <h2>Rp. 200.000</h2>
      <hr />
      <p>Category: <a href="#">Outdoors</a></p>
      <p>Seller: <a href="#">Raihan</a></p>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        quibusdam totam tempora deserunt expedita modi numquam soluta molestias!
        Beatae corporis eos, commodi voluptatem, laborum culpa tenetur in illo
        repellendus, cum quae eum? Velit eius sequi quod accusantium delectus
        ullam dolorum recusandae totam. Accusantium assumenda ratione vel
        repudiandae eveniet maiores amet!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        quibusdam totam tempora deserunt expedita modi numquam soluta molestias!
        Beatae corporis eos, commodi voluptatem, laborum culpa tenetur in illo
        repellendus, cum quae eum? Velit eius sequi quod accusantium delectus
        ullam dolorum recusandae totam. Accusantium assumenda ratione vel
        repudiandae eveniet maiores amet!
      </p>
      <div class="phone">
        <h1><i class="fa-brands fa-whatsapp"></i>082320426161</h1>
        <h3>Contact this Number for Transaction</h3>
      </div>
      <div class="actions">
        <button><i class="fa-solid fa-heart"></i>Wishlist</button>
      </div>
    </div>
  </div>
</div>

<%-include('partials/footer')%>
