<%- include('partials/header')%> <%- include('partials/navbar')%>

<div class="itemz-desc">
  <div class="itemz-desc-containerr">
    <div class="box1"></div>
    <div class="box2">
      <h1>Raihan Ghani</h1>
      <h2>Merchant</h2>
      <hr />
      <p>Gender: <a>Male</a></p>
      <p>Address: <a>Jalan Lingkar Barat Simpang Rimbo</a></p>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        quibusdam totam tempora deserunt expedita modi numquam soluta molestias!
        Beatae corporis eos, commodi voluptatem, laborum culpa tenetur in illo
        repellendus, cum quae eum? Velit eius sequi quod accusantium delectus
        ullam dolorum recusandae totam. Accusantium assumenda ratione vel
        repudiandae eveniet maiores amet!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis,
        quibusdam totam tempora deserunt expedita modi numquam soluta molestias!
        Beatae corporis eos, commodi voluptatem, laborum culpa tenetur in illo
        repellendus, cum quae eum? Velit eius sequi quod accusantium delectus
        ullam dolorum recusandae totam. Accusantium assumenda ratione vel
        repudiandae eveniet maiores amet!
      </p>
      <div class="phone">
        <h1><i class="fa-brands fa-whatsapp"></i>082320426161</h1>
        <h3>My Number</h3>
      </div>
      <div class="actions">
        <button><i class="fa-solid fa-pencil"></i>Edit Profile</button>
      </div>
    </div>
  </div>
</div>

<%-include('partials/footer')%>
