<%- include('../partials/header')%>

<section class="forms">
  <div class="forms-containerr">
    <div class="box1"></div>
    <div class="box2">
      <h1><%= msg %></h1>
      <hr />
      <a class="btnz" href="/signup">Back to Sign Up</a>
      <a class="btnz" href="/signin">Back to Sign In</a>
    </div>
  </div>
</section>
