<%- include('../partials/header')%>

<section class="forms">
  <div class="forms-containerr">
    <div class="box1"></div>
    <div class="box2">
      <h1>Sign Up</h1>
      <form action="/signin" method="post">
        <input type="text" name="name" id="name" placeholder="Name" />
        <input type="text" name="phone" id="phone" placeholder="Phone Number" />
        <input type="email" name="email" id="email" placeholder="Email" />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
        />
        <button type="submit">Sign Up</button>
      </form>
      <hr />
      <div class="logins">
        <div class="box">
          <a href=""><i class="fa-brands fa-facebook fa-3x"></i></a>
          <a href=""><i class="fa-brands fa-google fa-3x"></i></a>
          <a href=""><i class="fa-brands fa-apple fa-3x"></i></a>
        </div>
        <a href="/signin">Already have an account? Sign In</a>
      </div>
    </div>
  </div>
</section>
