<%- include('../partials/header')%> <%- include('../partials/navbar')%>

<div class="main">
  <div class="main-containerr newz">
    <form action="/newproduct" method="post">
      <label for="name">Product Name</label>
      <input type="text" name="name" id="name" autocomplete="off" />
      <label for="price">Product Price</label>
      <input type="text" name="price" id="price" autocomplete="off" />
      <label for="category">Product Category</label>
      <input type="text" name="category" id="category" autocomplete="off" />
      <label for="seller">Product Seller</label>
      <input type="seller" name="seller" id="seller" autocomplete="off" />
      <label for="url">Product Image Url</label>
      <input type="text" name="url" id="url" autocomplete="off" />
      <label for="description">Product description</label>
      <textarea type="text" name="description" id="description"></textarea>
      <button type="submit">Add Product</button>
    </form>
    <a href="/home">All Products</a>
  </div>
</div>

<%-include('../partials/footer')%>
