<%- include('../partials/header')%> <%- include('../partials/navbar')%>

<div style="height: 85vh" class="main">
  <div class="main-containerr">
    <p class="result">
      <i class="fa-solid fa-heart"></i>My<span> Wishlist</span>
    </p>
    <section class="items">
      <div class="container1">
        <div class="grid">
          <a class="item" href="/item">
            <div class="item-img"></div>
            <div class="item-desc">
              <h4>Bunga Kembang Sepatu</h4>
              <h5>Rp. 25000</h5>
              <hr />
              <h5>Outdoors</h5>
              <p>Raihan Ghani</p>
            </div>
          </a>
          <a class="item" href="/item">
            <div class="item-img"></div>
            <div class="item-desc">
              <h4>Lidah Buaya</h4>
              <h5>Rp. 25000</h5>
              <hr />
              <h5>Indoors</h5>
              <p>Raihan Ghani</p>
            </div>
          </a>
        </div>
      </div>
      <!-- <a href="/signup">Sign Up</a>
      <a href="/signin">Sign In</a> -->
    </section>
  </div>
</div>

<%-include('../partials/footer')%>
